* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: rgba(112, 216, 202, 0.5);
}

#container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#container header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgba(36, 147, 132, 0.5);
    box-shadow: 5px 5px 7px 0px rgb(34, 106, 134);
}

#container header img {
    max-width: 80px;
}

#container header .toggle {
    display: none;
    height: 20px;
    width: 20px;
}

.link-do-cabecalho {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 15px;
    color: #fffdf5;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold; /*500*/
    font-size: 15pt;
    padding: 12px 25px;
    background-color: rgb(56, 156, 187);
    border-radius: 15px;
}

#container section {
    width: 100%;
    height: 80vh;
}

header a:hover {
    background-color: rgb(32, 92, 110, 0.6);
    box-shadow: 5px 5px 6px 0px pink;
    transition: background-color 0.5s;
    transition: box-shadow 0.5;
}

#container section form {
    margin-top: 30px;
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 5px 5px 6px 0px rgb(34, 106, 134);
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Efeito ao clicar no campo */
input[type="text"]:focus {
    border: 2px solid #555;
    outline: none;
}

input[type="email"] {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 5px 5px 6px 0px rgb(34, 106, 134);
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

/* Efeito ao clicar no campo */
input[type="email"]:focus {
    border: 2px solid #555;
    outline: none;
}

textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    box-shadow: 5px 5px 6px 0px rgb(34, 106, 134);
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    resize: none;
}

/* Efeito ao clicar no campo */
textarea:focus {
    border: 2px solid #555;
    outline: none;
}

button[type="submit"] {
    /* Cores e fontes */
    background-color: rgb(34, 106, 134); 
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;

    /* Tamanho e espaçamento */
    padding: 10px 25px; /* Espaço interno (cima/baixo e esquerda/direita) */
    width: 120px;
    
    /* Bordas */
    border: none;
    border-radius: 5px;

    /* Cursor e transição */
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #ff6b81;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

dialog#modal::backdrop{
    background-color: #4e5e57aa;
}

article.artigo p {
    max-height: 60px;
    overflow: hidden;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 650px) {
    #container header {
        position: relative;
        justify-content: space-between;
        align-items: center;
    }

    #container header img {
        max-height: 80px;
    }

    #container header .toggle {
        display: block;
        border-right: 2px solid rgb(56, 156, 187);
        border-bottom: 2px solid rgb(56, 156, 187);
        transform: rotateZ(45deg);
        cursor: pointer;
        margin-top: -10px;
        margin-right: 10px;
    }

    #container header a {
        display: none;
        width: 100%;
        text-align: center;
        margin: 0;
        border-bottom: 1px solid rgb(34, 106, 134);
        position: absolute;
        z-index: 10;
    }

    #container header a:nth-of-type(1) { top: 100px; }
    #container header a:nth-of-type(2) { top: 160px; }
    #container header a:nth-of-type(3) { top: 220px; }

    #container header.active .toggle {
        display: block;
        transform: rotate(225deg);
        margin-top: 5px;
    }

    #container header.active a {
        display: block;
        background-color: rgb(56, 156, 187);
        height: 60px;
        width: 100%;
        margin: 0;
        border-top: 1px solid pink;
        padding-left: 40px;
    }

    #container header.activate a:nth-of-type(1) {
        bottom: 100px;
    }

    #container header.activate a:nth-of-type(2) {
        bottom: 160px;
    }

    #container header.activate a:nth-of-type(3) {
        bottom: 220px;
        border-bottom: 2px solid pink;
    }

}

@media (max-width: 650px) {

}




